@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background: #333;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    font-size: 1.3em;
    line-height: 2em;
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#sidebar li,
i {
    cursor: pointer;
}

/*section*/

.sect {
    padding: 5em;
}

.sect-1 {
    width: 100%;
    height: 150vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    grid-template-rows: repeat(3, 300px);
}

.box {
    background: #202027;
    width: 300px;
    height: 200px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
}

.box h3 {
    color: #3097FE;
    font-family: 'Indie Flower', cursive;
    font-weight: 200;
    font-size: 1.5em;
}

.sect-1 .content {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 1em;
}

/*aside*/

#sidebar {
    background: #202027;
    width: 200px;
    height: calc(150vh + 200px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 1em;
    transition: 500ms;
}

#sidebar.toggle {
    margin-top: 305px;
}

#sidebar li.toggle {
    transition: 500ms;
    margin-top: -205px;
}

#sidebar li {
    position: absolute;
}

#sidebar li:nth-of-type(1) {
    top: 420px;
}

#sidebar li:nth-of-type(2) {
    top: 740px;
}

#sidebar li:nth-of-type(3) {
    top: 1060px;
}

#sidebar a {
    font-family: 'Indie Flower', cursive;
    color: #3097FE;
    font-size: 1.5em;
    font-weight: 700;
}

#sidebar ul li:hover .wing {
    transform-origin: left;
    animation: point 2s linear infinite alternate-reverse;
}

@keyframes point {
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(20deg) translateX(25px);
    }
}

/*Footer*/

#footer {
    width: 100%;
    height: 250px;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.medias i {
    font-size: 2em;
    margin-left: .5em;
}

.medias i,
p a {
    color: #00bcd4;
}

p .fa-heart {
    color: #f03340;
}

/*Loader and Go Top Button*/

.btn-top {
    background: #00bcd4;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-top a {
    color: #fff;
    font-size: 1.2em;
}

/*Medias Queries*/

@media screen and (min-width: 785px) {
  
}

