@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background: #202027;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    font-size: 1.3em;
    line-height: 2em;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 6em;
    color: #3097FE;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Section*/

.sect {
    display: flex;
    justify-content: center;
}